# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual environment
venv/
env/
cowrie-env/
~/venvs/
*.egg-info/
build/
dist/

# Data outputs
*.csv
!demo/sample_X_test.csv  # keep only this sample
predictions_with_geo.csv

# IDE
.vscode/
.idea/
